<div class="page-travel">
  {% for block in section.blocks %}
    {% case block.type %}
          {% when "hero_section" %}
          <div class="hero-section">
			<div class="bg_section">
              
            </div>
          </div>
  	{% endcase %}
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Travel Disinfectant Wipes",
    "settings": [
	],
	"blocks": [
		{
			"type": "hero_section",
			"name": "Hero Section",
			"settings": [
				{
					"type": "select",
					"id": "vertical_align",
					"label": "Vertical Position",
                    "default": "middle",
                    "options": [
                      {
                        "value": "top",
                        "label": "Top"
                      },
                      {
                        "value": "middle",
                        "label": "Middle"
                      },
                      {
                        "value": "bottom",
                        "label": "Bottom"
                      }
					]
					
				},
				{
					"type": "select",
					"id": "horizontal_align",
					"label": "Horizontal Position",
                    "default": "center",
                    "options": [
                      {
                        "value": "left",
                        "label": "Left"
                      },
                      {
                        "value": "center",
                        "label": "Center"
                      },
                      {
                        "value": "right",
                        "label": "Right"
                      }
					]
					
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Hero Desktop Image"
				},
				{
					"type": "image_picker",
					"id": "mb_image",
					"label": "Hero Mobile Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "des",
					"label": "Description"
				},
				{
					"type": "textarea",
					"id": "sub_des",
					"label": "Sub Description"
				},
				{
					"type": "text",
					"id": "btn_title",
					"label": "Button Title"
				},
				{
					"type": "url",
					"id": "btn_url",
					"label": "Button Url"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
