/* trave page */
.hero-section {
  position: relative;
}
.bg_section img {
  width: 100%;
}
.hero-section .hero_des {
  padding: 50px 1.5rem;
}
.hero_des-container h1 {
  margin-top: 0;
  color: #fff;
}
.hero_des-container p {
  color: #fff;
  font-size: 24px;
}
/* trave page */