/* trave page */
.hero-section {
  position: relative;
}
.bg_section img {
  width: 100%;
}
.hero-section .hero_des {
  padding: 50px 1.5rem;
}
.hero_des-container h1 {
  margin-top: 0;
  color: #fff;
}
.hero_des .hero_des-container p {
  color: #fff;
  font-size: 24px;
  margin-top: 0;
  max-width: 740px;
}
.hero_des.center .hero_des-container p {
  margin: 0 auto 35px;
}
.hero_des.left .hero_des-container p {
  margin-left: 0;
  margin-right: auto;
}
.hero_des.right .hero_des-container p {
  margin-left: auto;
  margin-right: 0;
}
.hero_des-container a {
  text-decoration: none;
  background: #fff;
  border-radius: 5px;
  color: #506973;
  display: inline-block;
  padding: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
/* trave page */