/* featured collection */
.button {
  background: #fff;
  color: #121212;
  transition: all 0.3s;
}
.button:hover {
  background: #121212;
  color: #fff;
}
/* featured collection */

/* trave page */
.hero-section {
  position: relative;
}
.bg_section img {
  width: 100%;
}
.hero-section .hero_des {
  padding: 50px 1.5rem;
}
.hero_des-container h1 {
  margin-top: 0;
  color: #fff;
}
.hero_des .hero_des-container p {
  color: #fff;
  font-size: 24px;
  margin-top: 0;
  max-width: 740px;
  margin-bottom: 35px;
}
.hero_des.center .hero_des-container p {
  margin: 0 auto 35px;
}
.hero_des.left .hero_des-container p {
  margin-left: 0;
  margin-right: auto;
}
.hero_des.right .hero_des-container p {
  margin-left: auto;
  margin-right: 0;
}
.hero_des-container a {
  text-decoration: none;
  background: #fff;
  border-radius: 5px;
  color: #506973;
  display: inline-block;
  padding: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.text_image-section {
  text-align: center;
  margin: 50px 0;
}
.section-title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}
.text_image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.text_image-item {
  margin: 20px 0;
  max-width: 33.33%;
  padding: 0 15px;
}
.text_image-item img{
  max-width: 80px;
  margin:0 auto;
  display: block;
}
.text_image-item h2{
  font-weight: bold;
}

@media(max-width: 767px) {
  .text_image-item {
   	max-width: 100%; 
  }
}
/* trave page */

/* product page */
.accordian-title {
  background: #F3F5F9;
  padding: 10px 45px 10px 20px;
  text-transform: uppercase;
  position: relative;
}
/* product page */